[submodule "1-note-app-basic"]
	path = 1-note-app-basic
	url = https://github.com/bansalankit92/1-note-app-basic
[submodule "2-note-app-basic-ui-jsp"]
	path = 2-note-app-basic-ui-jsp
	url = https://github.com/bansalankit92/2-note-app-basic-ui-jsp
[submodule "3-note-jpa-mysql-crud"]
	path = 3-note-jpa-mysql-crud
	url = https://github.com/codevik-com/3-note-app-jpa-basic
